html, body {
	width: 100%; height: 100%;
}
#root {
    width: 100%; height: 100%;
}

#background {
    overflow: hidden;
    width: 100%; height: 100%;
}

.login-page {
    background-color: #20273A;
    width: 100%;
    height: 100%;

}


.login-page .contents {
    width: 800px;
    height: 500px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    
    img {
        width: 400px;
        margin-left: 50px;
        padding: 10px;
    }

    .photoinner {
        width: 480px;
        h1 {
            text-align: center;
            padding: 20px;
            font-weight: bold;
        }
    }

    form {
        fieldset{
            float: right;
            display: flex;
            position: relative;
            bottom: 420px;
            right: 70px;
            legend {
                text-align: center;
                font-weight: bold;
                font-size: 30px;
                padding: 20px;
            }
            label {
                font-size: 20px;
                padding-top: 20px;
            }
            .text {
                width: 250px;
                height: 40px;
                margin-top: 20px;
            }
            .button {
                border-radius: 5px;
                margin: auto;
                margin-top: 40px;
                &:hover {
                    background-color: #A6A6A6;
                }

            }
        }
    }
}

