.ls {
    color: white;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    font-size: 20px;
}


.userinfo {
    position: relative;
    bottom: 20px;
}

.loginsignup {
    position: relative;
    bottom: 20px;
}