.photoImgIconInner {
    width: 200px;
    margin: 0 auto;
    .photoImgIcon {
        width: 200px;

    }
}

.uploadphotoinner {
    margin-top: 45px;
}

.photoIconInner {
    div {
        div {
            width: 500px;
            margin: 0 auto;
            img {
                width: 500px;
                margin: 50px 0px 50px 0px;
            }
        }
    }
}
