.CartPage {
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        width: 300px;
        margin: 0 auto;
        position: relative;
        top: 70px;  
    }
}

.totalPrice {
    margin: 0px 0px 150px 230px;
}

.paypal-button {
    margin: 0px 0px 200px 230px;

}

.successPayment {
    position: relative;
    text-align: center;
    font-weight: bold;
}