.photoInfo {
    width: 300px;
    position: absolute;
    bottom: 300px;
    left: 800px;
    .title{
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }
    .detail{
        font-size: 25px;
    }

    .price {
        font-size: 20px;
        position: relative;
        top: 100px;

    }

    button {
        position: relative;
        left: 60px;
        top: 100px;
        width: 150px;
        height: 50px;
        border-radius: 5px;
        color: white;
        background-color: #8878CD;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #483D8B;
        }
    }
}