.userCardBlock {
    margin: 150px 0px 100px 0px;
    table {
        width: 800px;
        margin: 0 auto;
        thead {
            tr {
                th {
                    border: 0.2px solid #D5D5D5;
                    width: 200px;
                    height: 40px;
                    font-size: 18px;
                    text-align: center;
                    padding-top: 5px;
                    border-radius: 3px;
                }
            }
        }

        tbody {
            tr {
                td {
                    border: 0.2px solid #D5D5D5;
                    width: 200px;
                    height: 40px;
                    font-size: 20px;
                    text-align: center;
                    padding-top: 5px;
                    border-radius: 3px;
                }
            }
        }
    }
}

.cartPhoto {
    img {
        text-align: center;
        height: 100px;
    }
}